body {
    background-color: color(cocktail);
    padding: $page-padding;
    border: $page-border;
    font-size: 25px;
    color: color(fun);
   // #box-spring {
    //  width: $box-size;
     // height: $box-size;}
    }
  

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: color(cocktail);
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: color(sunset);
}

#box-spring{
  width: $box-size;
  display:flex;
  padding:10px;
  justify-content:space-evenly;
  align-items: center;
  border: $box-border;
  #col1 {
    background-color:color(base);
    width: $col-width;
    height: $col-height;
    padding: $col-padding;
  }
  #col2 {
    background-color:color(nice);
    width: $col-width;
    padding: $col-padding;
    height: $col-height;
  }
  #col3 {
    background-color:color(cool);
    width: $col-width;
    padding: $col-padding;
    height: $col-height;
  }
  }

  #box-summer{
    width: $box-size;
    display:flex;
    padding:10px;
    justify-content:center;
    align-items: center;
    border: $box-border;
    #col4 {
      background-color:color(fun);
      width: $col-width;
      height: $col-height;
      padding: $col-padding;
    }
    #col5 {
      background-color:color(summer);
      width: $col-width;
      padding: $col-padding;
      height: $col-height;
    }
    #col6 {
      background-color:color(cocktail);
      width: $col-width;
      padding: $col-padding;
      height: $col-height;
    }
    }

#box-autumn{
  width: $box-size;
  display:flex;
  padding:10px;
  justify-content:center;
  align-items: center;
  border: $box-border;
  #col7 {
    background-color:color(choco);
    width: $col-width;
    height: $col-height;
    padding: $col-padding;
  }
  #col8 {
    background-color:color(sofa);
    width: $col-width;
    padding: $col-padding;
    height: $col-height;
  }
  #col9 {
    background-color:color(sunset);
    width: $col-width;
    padding: $col-padding;
    height: $col-height;
  }
  }


#box-winter{
  width: $box-size;
  display:flex;
  padding:10px;
  justify-content:center;
  align-items: center;
  border: $box-border;
  #col10 {
    background-color:color(snowing);
    width: $col-width;
    height: $col-height;
    padding: $col-padding;
  }
  #col11 {
    background-color:color(warm);
    width: $col-width;
    padding: $col-padding;
    height: $col-height;
  }
  #col12 {
    background-color:color(santa);
    width: $col-width;
    padding: $col-padding;
    height: $col-height;
  }
  }
  .mycontainer {
    height: 120vh;
    width: 80vw;
    border: 3px solid black;
  }
  .b {
    height: 30vh;
    width: 80vw;
    border: 3px solid red;
  }